.page-movie-header {
	position: relative;

	.header-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 100%;
			width: 100%;
			background-color: rgba(#000, 0.6);

		}
	}

	.btn-back {
		position: absolute;
		top: 46px;
		left: -22px;
		display: block;
		width: 36px;
		transform: rotate(180deg);
		cursor: pointer;

		&:hover,
		&:focus {
			svg {
				transform: translateX(10px);
			}
		}

		svg {
			fill: #fff;
			transform: translateX(0);
			transition: transform 0.8s;
		}
	}

	.header-wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		padding: 30px;
		box-sizing: border-box;
	}

	.header-poster {
		width: 300px;
		flex-shrink: 0;

		img {
			width: 100%;
		}
	}

	.header-content {
		padding: 0 32px;
		color: #fff;
	}

	.movie-name {
		padding: 0;
		margin: 0;
		font-size: 36px;
		font-weight: 700;
	}

	.movie-subname {
		padding: 0;
		margin: 0;
		font-size: 24px;
	}

	.movie-info {

		.genres {
			span {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}

		.runtime {
			position: relative;
			display: inline-block;
			padding-left: 20px;

			&::before {
				font-size: 16px;
				line-height: 1;
				content: '\2022';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 7px;
				display: inline-flex;
				align-content: center;
				align-items: center;
				z-index: -1;
			}
		}

	}

	.movie-overview {
		font-size: 16px;
		line-height: 1.33;
	}

	.movie-created {
		span {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 32px;
			}
		}
	}
}

.page-movie-content {
	margin-top: 48px;
	margin-bottom: 48px;

	.content-title {
		position: relative;
		font-size: 32px;
		font-weight: 600;

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: -12px;
			left: 0;
			width: 16%;
			height: 6px;
			border-radius: 6px;
			background-color: #afaeae;
		}
	}

	.cards-seasons {
		margin-bottom: 64px;

		.card {
			border: 1px solid rgba(227, 227, 227, 1);
			border-radius: 4px;
			box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		.card-post {
			border-radius: 4px 0 0 4px;
			width: 130px;

			img {
				width: 100%;
			}
		}

		.card-content {
			padding: 24px;
		}

		.card-name {
			font-size: 32px;
			margin-bottom: 4px;
			font-weight: 600;
		}

		.card-info {
			font-size: 24px;
			font-weight: 600;
		}

	}

	.cards-episodes {
		display: flex;
		flex: 1 1 auto;
		height: 100%;
		margin: -16px;

		.episode-item {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			width: 50%;
			padding: 16px;
		}

		.episode-wrapper {
			flex: 1 1 auto;
			box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
		}

		.episodes-post {
			width: 100%;

			img {
				width: 100%;
			}
		}

		.episodes-content {
			padding: 16px;

		}

		.episodes-name,
		.episodes-date,
		.episodes-info,
		.episodes-overview {
			margin: 0;
			padding: 0;
			font-size: 24px;
			line-height: 1;
		}

		.episodes-name {
			margin-bottom: 16px;
		}

		.episodes-date {
			margin-bottom: 16px;
		}

		.episodes-info {
			margin-bottom: 32px;
		}

		.episodes-overview {
			font-size: 24px;
			line-height: 1.33;
		}


	}
}