.btn {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: 1px solid transparent;
	cursor: pointer;
	user-select: none;
	background-color: #6b78d6;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 32px;

	&:hover,
	&.active {
		background-color: transparent;
		color: #6b78d6;
		border-color: #6b78d6;
	}
}
