.page-movie-header {
	position: relative;

	.header-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 100%;
			width: 100%;
			background-color: rgba(#000, 0.6);

		}
	}

	.btn-back {
		position: absolute;
		top: 46px;
		left: -22px;
		display: block;
		width: 36px;
		transform: rotate(180deg);
		cursor: pointer;

		&:hover,
		&:focus {
			svg {
				transform: translateX(10px);
			}
		}

		svg {
			fill: #fff;
			transform: translateX(0);
			transition: transform 0.8s;
		}
	}

	.header-wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		padding: 30px;
		box-sizing: border-box;
	}

	.header-poster {
		width: 300px;
		flex-shrink: 0;

		img {
			width: 100%;
		}
	}

	.header-content {
		padding: 0 32px;
		color: #fff;
	}

	.movie-name {
		padding: 0;
		margin: 0;
		font-size: 36px;
		font-weight: 700;
	}

	.movie-subname {
		padding: 0;
		margin: 0;
		font-size: 24px;
	}

	.movie-info {

		.genres {
			span {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}

		.runtime {
			position: relative;
			display: inline-block;
			padding-left: 20px;

			&::before {
				font-size: 16px;
				line-height: 1;
				content: '\2022';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 7px;
				display: inline-flex;
				align-content: center;
				align-items: center;
				z-index: -1;
			}
		}

	}

	.movie-overview {
		font-size: 16px;
		line-height: 1.33;
	}

	.movie-created {
		span {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 32px;
			}
		}
	}
}